<div style="width: 100%; height: 601px; max-width: 660px; position:absolute;
            background: #1B1919">
  <p style="margin-top: 40px; font-size: 40px; font-weight: bold; color: #28A745">
    Welcome back, {{ dev }}
  </p>

  <p style="margin-top: 120px; text-align:center; justify-content: center;">
    This is a confirmation that the password for your account <br />
    (<strong>{{ email }}</strong>) has just been changed.
  </p>
</div>

