<div style="width: 100%; height: 601px; max-width: 660px; position:absolute;
            background: #1B1919">
  <p style="margin-top: 40px; font-size: 40px; font-weight: bold; color: #28A745">
    Hi, {{ dev }}
  </p>

  <p style="margin-top: 62px;">
    Click the button bellow to change your passwordand Log in DevLink.
  </p>

  <div style="margin: 55px 0 55px 0; background: #28A745; height: 60px; width: 60%;
              line-height: 60px; display: inline-block; border: 1px solid #28A745;
              border-radius: 8px; box-shadow: 0 0 10px rgb(50, 168, 82);">
    <a href={{{ link }}} style="display: block; text-decoration: none;
              color: #FFF; font-weight: bold; text-align: center;">Change my password</a>
  </div>

  <p>
    Or use this link instead:
  </p>

  <a href={{{ link }}} style="color: #0099CC">{{{ link }}}</a>

  <p style="margin-top: 60px">
    If you haven't asked for a password reset,<br />
    just chill and ignore this email.
  </p>
</div>

